body {
    background-color: grey;
    overflow: hidden;
}

/**Join Room Page styles*/
.join-room__form {
    background: aliceblue;
    border-radius: 10px;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    top: 100px;
    width: 350px;
}

.join-room__form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control__spacing {
    margin-bottom: 20px;
}

.join-room__btn {
    width: 100%;
}

/** Chat Room styles*/
.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 20px;
    padding-top: 20px;
}
.chat__messages {
    background-color: aliceblue;
    border: 5px solid white;
    border-radius: 10px;
    flex-grow: 1;
    margin-bottom: 10px;
    overflow: auto;
    padding: 20px;;
}
.chat__input {
    background-color: beige;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    padding: 20px;
}
.population {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 20px;
    padding-top: 20px;
}
.population__list {
    background-color: beige;
    border: 5px solid white;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: auto;
}
.card {
    font-size: .75rem;
}
.card-header,
.card-body {
    padding: .25rem 1rem;
}
.card-text {
    margin-bottom: .25rem;
}
